<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Reports Data Found</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>
    <nav class="navbar fixed-top navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="/">Home</a>
        </div>
    </nav>
    <div class="container main">

        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <h1 class="text-center mb-4">Internal Links and Anchor Text Counter</h1>
