
{% include "layouts/header.html" %}
                <div class="text-center mb-4">
                    <i class="fas fa-spinner fa-spin fa-2x"></i>
                    <!-- <p class="lead mt-3"><i class="fas fa-spinner fa-spin"></i></p> -->
                </div>
                <div class="d-none" id="results-section">
                    <div class="row">
                        <!-- <div class="col-md-2"></div> -->
                        <div class="col-md-12 text-center">
                            <!-- <h2>Anchor Text Distribution</h2> -->
                            <canvas id="chart"></canvas>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <h2 class="mb-4">Links to URL</h2>
                            <p><strong>Total Links:</strong> <span id="total-links"></span></p>
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>URL</th>
                                        <th>Anchor Text</th>
                                    </tr>
                                </thead>
                                <tbody id="links-table-body">
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% include "layouts/footer.html" %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.6.0/dist/chart.min.js"></script>
    <script src="/static/js/custom.js"></script>

    <script>
        $(document).ready(function() {
            // let data = JSON.parse('{{data | tojson}}')
            console.log(url)
            $.post(
                '/scrape',
                {
                    url: url
                },
                (data) => {
                    try {
                        chart(data)
                    }catch {
                        const toastLiveExample = document.getElementById('liveToast')
                        const option = {
                            animation: true,
                            delay: 1000
                        }
                        const toast = new bootstrap.Toast(toastLiveExample, option)
                        toast.show()
                        setTimeout(() => {
                            window.location.href = "/"
                        }, 1000);
                    }
                }
            )
            // chart(data)
        });
    </script>
    <script>
    </script>

</body>

</html>
